.login-support {
    background-image: url(../../images/login/support-low-poly-grid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: calc(100dvh - 80px);
}